html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.w1390 {
  width: 1390px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.login-top {
  height: 80px;
  padding: 8px 105px;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
}
.login-top h4 {
  margin: 0;
  margin-top: 10px;
}
.login-bot {
  position: fixed;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  background: #fff;
}
.login-contain {
  height: 100%;
  background: url("../images/login/bg.png") center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  padding: 80px 0 40px;
}
.login-contain .login-main {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.login-contain .login-main .login-left {
  padding-top: 150px;
}
.login-contain .login-main .login-right {
  padding: 115px 35px 75px;
  width: 575px;
  background: rgba(250, 250, 250, 0.5);
  border-radius: 10px;
}
.login-contain .login-main .login-right label {
  color: #fff;
}
.login-contain .login-main .login-right .btn-ding {
  width: 300px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background: #2490FE;
  font-size: 28px;
  padding: 0;
}
