<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/a.css">
    <title>Document</title>
</head>
<body>
 <div style="height:80px;background: pink;">

 </div>
<div class="enter-top">
    <div class="enter-main clearfix ">
        <div class="pull-left enter-left  ">
            <div class="row ">
                <label class="col-sm-4 col-md-2"  >客户</label>
                <div class="col-sm-8 col-md-10">

                    <input type="text" class="form-control"  placeholder="请输入...">

                </div>
            </div>
            <div class="row ">
                <label class="col-sm-4 col-md-2"  >单据编号</label>
                <div class="col-sm-8 col-md-10">

                    <input type="text" class="form-control"  placeholder="请输入...">

                </div>
            </div>
            <div class="row ">
                <label class="col-sm-4 col-md-2"  >币别</label>
                <div class="col-sm-8 col-md-10">

                    <input type="text" class="form-control"  placeholder="请输入...">

                </div>
            </div>


        </div>
        <div class="pull-left enter-left  ">
            <div class="row ">
                <label class="col-sm-4 col-md-2"  >客户</label>
                <div class="col-sm-8 col-md-10">

                    <input type="text" class="form-control"  placeholder="请输入...">

                </div>
            </div>
            <div class="row ">
                <label class="col-sm-4 col-md-2"  >客户单号</label>
                <div class="col-sm-8 col-md-10">

                    <input type="text" class="form-control"  placeholder="请输入...">

                </div>
            </div>
            <div class="row ">
                <label class="col-sm-4 col-md-2"  >汇率</label>
                <div class="col-sm-8 col-md-10">

                    <input type="text" class="form-control"  placeholder="请输入...">

                </div>
            </div>


        </div>
        <div class="pull-left enter-left  ">
            <div class="row ">
                <label class="col-sm-4 col-md-2"  >单据状态</label>
                <div class="col-sm-8 col-md-10">

                    <input type="text" class="form-control"  placeholder="请输入...">

                </div>
            </div>
            <div class="row ">
                <label class="col-sm-4 col-md-2"  >单据日期</label>
                <div class="col-sm-8 col-md-10">

                    <input type="text" class="form-control"  placeholder="请输入...">

                </div>
            </div>
            <div class="row ">
                <label class="col-sm-4 col-md-2"  >联络人</label>
                <div class="col-sm-8 col-md-10">

                    <input type="text" class="form-control"  placeholder="请输入...">

                </div>
            </div>


        </div>
    </div>
</div>
<div class="enter-table ">
    <div class="enter-nav clearfix">
        <a class="on" href="javasccript:;">
            单据明细
        </a>
        <a href="javasccript:;">
            交易信息
        </a>
        <a href="javasccript:;">
            相关费用
        </a>
        <a href="javasccript:;">
            表单信息
        </a>
    </div>
    <div class="enter-table-main">

    </div>
</div>
 <div class="enter-top">
     <div class="enter-main clearfix ">
         <div class="pull-left enter-left  ">

             <div class="row ">
                 <label class="col-sm-4 col-md-2"  >单据编号</label>
                 <div class="col-sm-8 col-md-10">

                     <input type="text" class="form-control"  placeholder="请输入...">

                 </div>
             </div>
             <div class="row ">
                 <label class="col-sm-4 col-md-2"  >币别</label>
                 <div class="col-sm-8 col-md-10">

                     <input type="text" class="form-control"  placeholder="请输入...">

                 </div>
             </div>


         </div>
         <div class="pull-left enter-left  ">

             <div class="row ">
                 <label class="col-sm-4 col-md-2"  >客户单号</label>
                 <div class="col-sm-8 col-md-10">

                     <input type="text" class="form-control"  placeholder="请输入...">

                 </div>
             </div>
             <div class="row ">
                 <label class="col-sm-4 col-md-2"  >汇率</label>
                 <div class="col-sm-8 col-md-10">

                     <input type="text" class="form-control"  placeholder="请输入...">

                 </div>
             </div>


         </div>
         <div class="pull-left enter-left  ">

             <div class="row ">
                 <label class="col-sm-4 col-md-2"  >单据日期</label>
                 <div class="col-sm-8 col-md-10">

                     <input type="text" class="form-control"  placeholder="请输入...">

                 </div>
             </div>
             <div class="row ">
                 <label class="col-sm-4 col-md-2"  >联络人</label>
                 <div class="col-sm-8 col-md-10">

                     <input type="text" class="form-control"  placeholder="请输入...">

                 </div>
             </div>


         </div>
     </div>
 </div>
<div class="enter-bot text-right">
    <select class="form-control">
        <option value="">扩展</option>
    </select>
    <select class="form-control">
        <option value="">扩展</option>
    </select>
    <select class="form-control">
        <option value="">扩展</option>
    </select>
    <select class="form-control">
        <option value="">扩展</option>
    </select>
</div>
<div class="fixed">
    <div class="fixed-main">
        <div class="fix-top clearfix">
            <div class="pull-left">人员资料维护</div>
            <div class="pull-right"></div>
        </div>
        <div class="fix-tt clearfix">
            <a href="javascript:;">取回</a>
        </div>
        <div class="fixed-table">

        </div>
        <div class="fixed-bot">

        </div>
    </div>
</div>

</body>
</html>